@import '~antd/dist/antd.css';

@media screen and (max-width: 500px) {
  .Wrapper{
    display: 'flex';
    padding-top: 0.5rem!important;
  }
  .Paper{
    margin: 0.5rem!important;
    padding: 0.5rem!important;
  }
  .Paper2{
    margin: 0.5rem!important;
  }
}

.Wrapper{
  display: 'flex';
  padding-top: 1rem;
}
.Paper{
  margin: 2rem;
  padding: 1rem;
}
.Paper2{
  margin: 2rem;
}
.Textarea{
  width: 100%;
}
.ButtonBox{
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  // justify-content: center;
}
.footer{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0.5rem!important;

}